<ion-view view-title="Maxou's bday !">
	<ion-content id="home-content">
		<h3 class="padding">Your Birthday Card</h3>
		<button class="button button-large button-clear ion-ios7-reloading" ng-show="loading"></button>
		<ion-list>
			<a class="item item-avatar" href="#" ng-click="open(message)" ng-repeat="message in messages">
				<img ng-src="{{message.avatar}}">
				<h2>{{message.from}}</h2>
			</a>
		</ion-list>
		
		<script id="carte-modal.html" type="text/ng-template">
		  <ion-modal-view>
			<ion-header-bar>
			  <h1 class="title">{{ message.from }}</h1>
			  <button ng-click="close()" class="button button-clear">Close</button>
			</ion-header-bar>
			<ion-content class="padding">			  
			  <img ng-src="{{message.avatar}}" style="display: inline-block;vertical-align: top;">
			  {{ message.text }}
			  <div class="padding">
				<span class="ion-ios-heart"></span>
				<span class="ion-ios-heart"></span>
				<span class="ion-ios-heart"></span>
			  </div>
			</ion-content>
		  </ion-modal-view>
		</script>
	</ion-content>
</ion-view>