<ion-view view-title="Maxou's bday !">
	<ion-content id="home-content">
		<div class="padding">
			<h3>Yo Love of my Life,</h3>
			<p>I Wish you everything we have an and that we might keep it</p>
			<p>PouYou have made my life A paradise and I enjoy every minute with you.</p>
			<p>Tu You the most loving passionable and sexy Wife Anyone could imagin, Thank you !!! I Love you</p>
			<div class="tooltip-container">
				<img class="padding-top" ng-src="img/happy-bday.png" style="max-width:100%;"/>
			</div>
		</div>
	</ion-content>
</ion-view>