<ion-view>
	<button ng-click="prev()" ng-show="showPrev" class="dir-left button icon-left ion-chevron-left button-clear button-dark"></button>
	<ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
	  <ion-slide id="slide-1">
		<div class="padding">
			<h1>Coucou mon petit Maxou !</h1>
			<h2>Il parait que c'est ton anniversaire aujourd'hui</h2>
			<img class="padding-top" src="img/hb.gif"/>
		</div>
	  </ion-slide>
	  <ion-slide>
		<div class="padding">
			<h1>Coucou mon petit Maxou 2 !</h1>
		</div>
	  </ion-slide>
	  <ion-slide>
		<div class="padding">
			<h1>Coucou mon petit Maxou 3 !</h1>
			<a href="#/app/home" class="button button-positive">Go to the awesomeness</a>
		</div>
	  </ion-slide>
	</ion-slide-box>
	<button ng-click="next()" ng-show="showNext" class="dir-right button icon-right ion-chevron-right button-clear button-dark"></button>
</ion-view>