<ion-view>
	<button ng-click="prev()" ng-show="showPrev" class="dir-left button icon-left ion-chevron-left button-clear button-dark"></button>
	<ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" active-slide="slidestop($index)">
	  <ion-slide id="slide-1">
		<div class="padding">
			<h1>Love of my Life!</h1>
			<h2>Its your Birthday today</h2>
			<div class="tooltip-container" on-release="next()">
				<img class="padding-top" ng-src="img/hb.gif"/>
				<p class="tooltip">Caresse-moi !</p>
			</div>
		</div>
	  </ion-slide>
	  <ion-slide id="slide-2">
		<div class="padding">
			<h1>Have you been a good girl this year?</h1>
			<p class="choice">
				<ion-radio ng-change="checkWise('Oui')" ng-model="wise" ng-value="'Oui'">Yes</ion-radio>
				<ion-radio ng-change="checkWise('Non')" ng-model="wise" ng-value="'Non'">No</ion-radio>
			</p>
			<img src="{{wiseImg}}" ng-show="wiseImgShow"/>
			<button ng-click="next()" ng-show="wiseValid" class="button button-full button-positive">Continue</button>
		</div>
	  </ion-slide>
	  <ion-slide id="slide-3">
		<div class="padding">
			<h1>Connects you and opens up for you a wold of wonder!</h1>
			<button ng-click="login()" class="button button-full button-balanced">Go to the awesomeness</button>
		</div>
	  </ion-slide>
	</ion-slide-box>
</ion-view>