.slider{
	height: 100%;
}

#slide-1 img{
	max-width:100%;
}

#slide-1 h1{
	text-align:center;
	margin-top:10px;
}

#slide-1 h2{
	text-align:center;
}

.dir-right, .dir-left{
	position: absolute;
	z-index: 10;
	width:50px;
	height:50px;
	top:50%;
	margin-top:-15px;
}

.dir-right{
	right:10px;
}

#home-content .ion-ios7-reloading{
	margin:auto;
	display: block;
}

#home-content .ion-ios7-reloading:before{
	font-size: 40px;
}